terraform {
  backend "s3" {
    endpoint   = "storage.yandexcloud.net"
    bucket     = "user-otus-terraform"
    region     = "ru-central1"
    key        = "prod/terraform.tfstate"
    access_key = "asasasasasasasasasasa"
    secret_key = "qwqwqwqwqwqwqwqwqwqwqwqwqwqwqw"

    skip_region_validation      = true
    skip_credentials_validation = true
  }
}
